<div class="header">
  <h1 class="text">{{ sudip }}</h1>
  <br />
  <form class="demo-form">
    <div class="form-group">
      <label for="exampleInputEmail1">USD</label>
      <input
        type="number"
        class="form-control"
        #inr
        aria-describedby="emailHelp"
        placeholder="Enter USD"
      />
    </div>
  </form>
  <br />
  <button
    type="submit"
    class="btn btn-primary"
    (click)="getvalue(inr.valueAsNumber)"
  >
    Convert
  </button>
  <br />
  <label for=""
    ><h2>{{ currentval }}</h2></label
  >
</div>
